site_name: PolymorphicAgent's Documentation
site_description: Documentation for my projects

theme:
  name: material
  palette:
    # Light mode
    - scheme: default
      primary: teal
      accent: amber
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: deep purple
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.sections
    - navigation.expand
    - search.highlight
    - content.code.copy

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - toc:
      permalink: true

nav:
  - Home: index.md
  - TODO: TODO.md
  - Server Infrastructure:
    - Overview: server/index.md
    - Hardware: server/hardware.md
    - Minecraft: server/minecraft.md
    - Cloudflare Setup: server/cloudflare.md
    - Nextcloud: server/nextcloud.md
    - Oracle Instances: server/oracle.md
  - Projects:
    - Overview: projects/index.md
    - Alarm Clock: projects/alarm-clock.md

# extra_javascript:
#   - javascript/void.js

# extra_css:
#   - stylesheets/footer.css

extra_css:
  - stylesheets/custom-link.css