site_name: PolymorphicAgent's Documentation
site_description: Documentation for my projects
site_url: https://docs.polimorph.dev

theme:
  logo: assets/favicon.png
  favicon: assets/favicon.ico
  name: material
  palette:
    # Light mode
    - scheme: default
      primary: teal
      accent: amber
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: deep purple
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.sections
    - navigation.expand
    - search.highlight
    - content.code.copy

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - toc:
      permalink: true
  - pymdownx.keys
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true

nav:
  - Home: index.md
  - TODO: TODO.md
  - Server Infrastructure:
    - Overview: server/index.md
    - Hardware: server/hardware.md
    - Minecraft: server/minecraft.md
    - Cloudflare Setup: server/cloudflare.md
    - Nextcloud: server/nextcloud.md
    - Oracle Instances: server/oracle.md
  - Projects:
    - Overview: projects/index.md
    - "Software Only":
      - projects/sw/printbb.md
    - Alarm Clock: projects/alarm-clock.md

# extra_javascript:
#   - javascript/void.js

# extra_css:
#   - stylesheets/footer.css

extra_css:
  - stylesheets/custom-link.css